html,body{
    height: 100%;
}
:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

.background{
    background-image: url(../images/macOS-Big-Sur-Daylight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.header{
    position: absolute;
    width: 100%;
    height: 100 / 16rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;

    .icon{
        width: 25 / 16rem;
        height: 20 / 16rem;
        background-color: white;
        box-sizing: border-box;
        background-clip: content-box;
        margin-right: 2rem;
        padding-top: 7 / 16rem ;
        padding-bottom: 7 / 16rem;
        border-top: 2 / 16rem solid white;
        border-bottom: 2 / 16rem solid white;
    }
}
.title{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    .content{
        margin-top: -80 / 16rem;
    }

    .title-content{
        width: 100%;
        font-size: 35 / 16rem;
        color: white;
        text-align: center;
    }
    
    .title-underline{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-40 / 16rem);
        width: 80 / 16rem;
        border-bottom: 4px solid white;
    }

    .discribe{
        font-size: 1rem;
        color: white;
        text-align: center;
    }

    .comment{
        color: rgba(255,255,255,0.6);
    }
}
.scrollDown{
    position: absolute;
    bottom: 2rem;
    width: 20 / 16rem;
    height: 20 / 16rem;
    border-right: 2 / 16rem solid white;
    border-bottom: 2 / 16rem solid white;
    transform: rotate(45deg);
}
.aboutMe{
    background-color: white;
    padding-top: 80 / 16rem;
    padding-bottom: 100 / 16rem;

    .aboutMe-title{
        font-size: 30 / 16rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1rem;
    }
    .aboutMe-underline{
        display: block;
        width: 40 / 16rem;
        height: 3 / 16rem;
        background-color: #38b7ea;
        margin: 0 auto;
    }
    .aboutMe-cardbox{
        text-align: center;
        padding-top: 1rem;
    }
    .aboutMe-card{
        display: inline-block;
        background: rgba(0,0,0,.06);
        padding: 10 / 16rem;
        margin-left: 5 / 16rem;
        margin-right: 5 / 16rem;
        color: #646464;
    }
    .aboutMe-content{
        text-align: center;
        color: #5a5a5a;
    }
}