html,
body {
  font: menu;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}
:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
section {
  position: relative;
}
section .point {
  position: absolute;
  top: 0;
}
.background {
  background-image: url(../images/macOS-Big-Sur-Daylight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header {
  position: absolute;
  width: 100%;
  height: 6.25rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
}
.header-scroll {
  position: fixed;
  width: 100%;
  height: 6.25rem;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  animation: showheader 0.3s;
}
@keyframes showheader {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.icon {
  width: 1.5625rem;
  height: 1.25rem;
  background-color: white;
  box-sizing: border-box;
  background-clip: content-box;
  margin-right: 2rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  border-top: 0.125rem solid white;
  border-bottom: 0.125rem solid white;
}
.title {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title .content {
  margin-top: -5rem;
}
.title .title-content {
  width: 100%;
  font-size: 2.1875rem;
  color: white;
  text-align: center;
}
.title .title-underline {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -2.5rem);
  width: 5rem;
  border-bottom: 4px solid white;
}
.title .discribe {
  font-size: 1rem;
  color: white;
  text-align: center;
}
.title .comment {
  color: rgba(255, 255, 255, 0.6);
}
.scrollDown {
  position: absolute;
  bottom: 2rem;
  width: 1.25rem;
  height: 1.25rem;
  border-right: 0.125rem solid white;
  border-bottom: 0.125rem solid white;
  transform: rotate(45deg);
}
.me-title {
  font-size: 1.875rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}
.me-underline {
  display: block;
  width: 2.5rem;
  height: 1.1875rem;
  background-color: #38b7ea;
  margin: 0 auto;
  padding-bottom: 1rem;
  background-clip: content-box;
}
.aboutMe {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}
.aboutMe .aboutMe-cardbox {
  text-align: center;
}
.aboutMe .aboutMe-card {
  display: inline-block;
  background: rgba(0, 0, 0, 0.06);
  padding: 0.625rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  color: #646464;
}
.aboutMe .aboutMe-content {
  text-align: center;
  color: #5a5a5a;
}
.myWork {
  background-color: #f5f5f5;
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}
.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.works .workBox {
  width: 18.75rem;
  margin: 0 1rem 2rem 1rem;
}
.works .workBox img {
  width: 100%;
  height: 9.6875rem;
  display: block;
}
.works .workBox .workBox-content {
  height: 4.375rem;
  background-color: white;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.works .workBox .workBox-content .workBox-content-title {
  line-height: 0;
  font-weight: 700;
}
.works .workBox .workBox-content .workBox-content-describe {
  font-size: 0.8rem;
}
.foot {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
  color: #fff;
  display: grid;
  justify-items: center;
  grid-template-areas: "left right" "bottom bottom";
}
.foot .footbox {
  margin: 0 1rem 1rem;
}
.foot .footbox:nth-child(1) {
  grid-area: left;
}
.foot .footbox:nth-child(2) {
  grid-area: right;
}
.foot .footbox:nth-child(3) {
  grid-area: bottom;
}
.foot span {
  display: block;
}
.foot p {
  font-size: 0.9375rem;
  font-weight: 700;
}
.foot a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.mobileNav {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 60%;
  background-color: white;
  transition: transform 0.3s;
}
.mobileNav .nav-iconbox {
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mobileNav .nav-iconbox .nav-icon {
  width: 1.5625rem;
  height: 1.25rem;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background-clip: content-box;
  margin-right: 2rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  border-top: 0.125rem solid rgba(0, 0, 0, 0.6);
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.6);
  float: right;
}
.mobileNav a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 1rem  2rem;
}
.mobileNav a:active {
  background: none;
}
.mobileNav-show {
  transform: translateX(-100%);
}
.mask {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  translate: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.mask-show {
  opacity: 1;
  visibility: visible;
}
